# Intellij
/.idea

# node files
/node_modules

# composer packages
/vendor

# Homestead
Homestead.json
Homestead.yaml

# Laravel Directory
/public/hot
/public/storage
/storage/*.key

# Log File
npm-debug.log
yarn-error.log
.phpunit.result.cache

# Environment Variables
.env
.env.backup

# Mac OS
.DS_Store

# MySQL Workbench
*.mwb.bak
